body {
  background-color: black;
  color: white;
  padding-left: 5%;
  margin-top: 100px;
}

.nameNstuff {
  padding-bottom: 20px;
}

.name {
  padding-bottom: 30px;
  font-size: 1.7rem;
}

.info_short {
  font-size: 1.1rem;
}

.eduNstuff {
  display: inline-block;
}

.insti_namme {
  float: right;
}

details {
  user-select: none;
  margin-bottom: 10px;
}

details[open] summary span {
  transform: rotate(180deg);
}

summary {
  font-weight: bold;
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.updaeteINFO {
  font-size: .8rem;
  color: #9E9E9E;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.time {
  margin-top: 4px;
}
